    <link rel="stylesheet" href="new.css">
    <style media="screen">
    *{
      box-sizing:border-box;
    }
    </style>
<br>
<br>
<br>
<br>
<hr class="mt-0 mb-0">
<div class="pt-3 pb-2 bg-light">
<footer class="footer pt-5 pr-0 pl-0 pb-5 bg-light" style="background-color:white;">
    <div class="d-flex flex-wrap">
      <div class="w-25 pl-4">
        <h4 class="text-capitalize font-weight-bold position-relative mb-35 text-dark" style="font-size:18px;">Help</h4>
        <div class="pb-3">
        <div class="position-absolute pb-1" style="width:50px; background-color:#efc3bf;"></div>
      </div>
        <ul style="padding-left:0px;">
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Ways we help</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">How it works</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Testimonials</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Terms and Conditions</div></a></li>
        </ul>
      </div>
      <div class="w-25 pl-4">
        <h4 class="text-capitalize font-weight-bold position-relative mb-35 text-dark" style="font-size:18px;">Learn more</h4>
        <div class="pb-3">
        <div class="position-absolute pb-1" style="width:50px; background-color:#efc3bf;"></div>
      </div>
        <ul style="padding-left:0px;">
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">FAQ</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Corporate</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Contact</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Ask Us</div></a></li>
        </ul>
      </div>
      <div class="w-25 pl-4">
        <h4 class="text-capitalize font-weight-bold position-relative mb-35 text-dark" style="font-size:18px;">Support</h4>
        <div class="pb-3">
        <div class="position-absolute pb-1" style="width:50px; background-color:#efc3bf;"></div>
      </div>
        <ul style="padding-left:0px;">
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Prescription Policies</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Privacy Practices</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Community Guidelines</div></a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-dark" style="text-decoration:none;"><div class="c-footer" style="transition: all 0.3s ease;">Ethics and Compliance hotline</div></a></li>
        </ul>
      </div>
      <div class="w-25 pl-4">
        <h4 class="text-capitalize font-weight-bold position-relative mb-35 text-dark" style="font-size:18px;">Follow Us</h4>
        <div class="pb-3">
        <div class="position-absolute pb-1" style="width:50px; background-color:#efc3bf;"></div>
      </div>
      <div class="social-links">
        <div class="pl-0">
          <a href="#" class="display-inline-block mr-2 ml-2 text-center rounded-circle fa-2x "><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="display-inline-block mr-2 ml-2 text-center rounded-circle fa-2x "><i class="fab fa-twitter"></i></a>
          <a href="#" class="display-inline-block mr-2 ml-2 text-center rounded-circle fa-2x "><i class="fab fa-instagram"></i></a>
          <a href="#" class="display-inline-block mr-2 ml-2 text-center rounded-circle fa-2x"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      </div>
    </div>
</footer>
</div>
