{% extends "admin_index.html" %}
{% block title %}All Upcoming Appointments{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; color:black;}
    a:active { text-decoration: none; }
    a {color:black;}

    h1 {text-align: center}

    p {text-align: center; font-size: 19px;}

    .sorter {text-align: center;}

    form {font-size: 17px;}
    </style>
</head>

<div>
  <h1 class="display-4">All Upcoming Appointments</h1>
  {% if count == 0 %}
  <p>There are no upcoming appointments.</p>
  {% elif count == 1 %}
  <p>There is 1 upcoming appointment scheduled.</p>
  {% else %}
  <p>There are {{ count }} upcoming appointments scheduled.</p>
  {% endif %}
</div>

{% if count != 0 %}
<div>
    <table class="table table-hover" style="border: solid black;">
        <thead class="bg-dark text-white">
        <tr style="text-align: center;">
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>NRIC</th>
            <th>Email</th>
            <th>Address</th>
            <th>Remarks</th>
            <th>Conditions</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for appointment in appointments_list %}
        <tr style="text-align: center;">
            <td>{{ appointment.get_id() }}</td>
            <td>{{ appointment.get_name_ment() }}</td>
            <td>{{ appointment.get_age_ment() }}</td>
            <td>{{ appointment.get_gender_ment() }}</td>
            <td>{{ appointment.get_nric_ment() }}</td>
            <td>{{ appointment.get_email_ment() }}</td>
            <td>{{ appointment.get_address_ment() }}</td>
            <td>{{ appointment.get_remarks_ment() }}</td>
            <td>{{ appointment.get_past_condition_ment() }}</td>
            <td>{{ appointment.get_doctor_ment() }}</td>
            <td>{{ appointment.get_date_ment() }}</td>
            <td>{{ appointment.get_time_ment() }}</td>

            {% if appointment.get_meeting_status_ment() == "Open" %}
            <td><a href="https://zoom.us/signin#/login" target="_blank" class="btn btn-success">Join Room</a></td>
            {% elif appointment.get_meeting_status_ment() == "Closed" %}
            <td>
                <form action="{{url_for('open_room_admin', id=appointment.get_id())}}" method="POST">
                    <input type="submit" value="Open Room" class="btn btn-primary">
                </form>
            </td>
            {% endif %}

            <td><a href="/updateAppointmentAdmin/{{appointment.get_id()}}" class="btn btn-info">Follow Up</a></td>
            <td>
                <form action="{{url_for('delete_appointment_admin', id=appointment.get_id())}}" method="POST">
                    <!-- Delete Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{appointment.get_id()}}">End Session</button>

                    <!-- Modal -->
                    <div class="modal" id="myModal_{{appointment.get_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Ending Session</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    Are you sure you want to end session with {{appointment.get_name_ment()}}?
                                </div>

                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="End" class="btn btn-danger">
                                    <input type="submit" value="Prescibe Medication" class="btn btn-info">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
