{% extends "user_index.html" %}

{% block content %}
<link rel="stylesheet" href="static/css/findoutmore.css">
<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="findoutmore.css">

</head>
<body>
<style>

  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none;
   color:black;}
  a:active { text-decoration: none; }
  a{color:black;}

</style>
          <br>
          <br>
          <br>
		  <br>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>TeleDoc is a Telemedicine Website that connects patients with doctors from all around the world</h3>
					<p>Get answers to your health questions with our fast, convenient healthcare—anytime, anywhere.</p>
					<div class="button">
						<a href="">Our Services</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="static/image/doc.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>
{% endblock %}
