{% extends "formbg.html" %}
{% block title %}Login{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<br>
<br>


  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">



          <br>
          <br>
<body style="background-color:azure;">
<h1 class="display-4 text-center mt-4 mb-4">Login</h1>
<section class="container-fluid " style="height: 270px; width: 30%; border-style:solid; background-color:azure;">
<form method="POST" action="">
            <br>
    <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.password, class="form-control") }}
  </div>

  <input type="submit" value="Log In" class="btn btn-primary mt-2"/>
</form>
</section>
<br>
<br>
<br>
<br>
</body>

{% endblock %}
