{% extends "formbg.html" %}
{% block title %}Register{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}

<h1 class="display-4 text-center mt-4 mb-4">Register</h1>

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


<body style="background-color:azure;">
  <section class="container-fluid " style="height: 650px; width: 30%; border-style:solid; background-color:azure;">
<form method="POST" action="">
  <div class="form-group">
    {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.gender, class="form-control") }}
  </div>
 <div class="form-group">
    {{ render_field(form.nric, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
<div class="form-group">
  {{ render_field(form.password, class="form-control") }}
</div>
  <div class="form-group">
    {{ render_field(form.age, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.address, class="form-control") }}
  </div>

  <div id="prof">
    <div class="form-group">
      {{ render_field(form.condition, class="form-control") }}
    </div>
  </div>
  <input type="submit" value="Register" class="btn btn-primary mt-2"/>
</form>
</section>
<br>
<br>
<br>
</body>


{% endblock %}

