{% extends "user_index.html" %}
{% block title %}View Appointments{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; color:black;}
    a:active { text-decoration: none; }
    a {color:black;}

    h1 {text-align: center}

    p {text-align: center; font-size: 19px;}
    </style>
</head>

<div>
  <h1 class="display-4">Your Upcoming Appointments</h1>
  {% if count == 0 %}
  <p>There are no upcoming appointments</p>
  {% elif count == 1 %}
  <p>You have 1 upcoming appointment scheduled</p>
  {% else %}
  <p>You have {{ count }} upcoming appointments scheduled</p>
  {% endif %}
</div>
<br>
{% if count != 0 %}
<div>
    <table class="table table-hover" style="border: solid black;">
        <thead class="bg-dark text-white">
        <tr style="text-align: center;">
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>NRIC</th>
            <th>Email</th>
            <th>Address</th>
            <th>Remarks</th>
            <th>Conditions</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for appointment in appointments_list %}
        <tr style="text-align: center;">
            <td>{{ appointment.get_id() }}</td>
            <td>{{ appointment.get_name_ment() }}</td>
            <td>{{ appointment.get_age_ment() }}</td>
            <td>{{ appointment.get_gender_ment() }}</td>
            <td>{{ appointment.get_nric_ment() }}</td>
            <td>{{ appointment.get_email_ment() }}</td>
            <td>{{ appointment.get_address_ment() }}</td>
            <td>{{ appointment.get_remarks_ment() }}</td>
            <td>{{ appointment.get_past_condition_ment() }}</td>
            <td>{{ appointment.get_doctor_ment() }}</td>
            <td>{{ appointment.get_date_ment() }}</td>
            <td>{{ appointment.get_time_ment() }}</td>

            {% if appointment.get_meeting_status_ment() == "Open" %}
            <td><a href="https://zoom.us/signin#/login" target="_blank" class="btn btn-success">Join Room</a></td>
            {% else %}
            <td><a href="/updateAppointment/{{appointment.get_id()}}" class="btn btn-warning">Update</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
