{% extends "user_index.html" %}
{% block title %}View Appointments{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; color:black;}
    a:active { text-decoration: none; }
    a {color:black;}
    </style>
</head>

<h1 class="display-4">Your Appointments</h1>

<div>
  {% if count == 0 %}
  <p>There are no appointments.</p>
  {% elif count == 1 %}
  <p>You have 1 appointment scheduled.</p>
  {% else %}
  <p>You have {{ count }} appointments scheduled.</p>
  {% endif %}
</div>

<div>
    <table class="table table-hover" style="border:solid black;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>NRIC</th>
            <th>Email</th>
            <th>Address</th>
            <th>Remarks</th>
            <th>Pre-existing Medical Conditions</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for appointment in appointments_list %}
        <tr>
            <td>{{ appointment.get_id() }}</td>
            <td>{{ appointment.get_name_ment() }}</td>
            <td>{{ appointment.get_age_ment() }}</td>
            <td>{{ appointment.get_gender_ment() }}</td>
            <td>{{ appointment.get_nric_ment() }}</td>
            <td>{{ appointment.get_email_ment() }}</td>
            <td>{{ appointment.get_address_ment() }}</td>
            <td>{{ appointment.get_remarks_ment() }}</td>
            <td>{{ appointment.get_past_condition_ment() }}</td>
            <td>{{ appointment.get_doctor_ment() }}</td>
            <td>{{ appointment.get_date_ment() }}</td>
            <td>{{ appointment.get_time_ment() }}</td>

            <td><a href="/updateAppointment/{{appointment.get_id()}}" class="btn btn-warning">Update</a></td>
            <td>
                <form action="{{url_for('delete_appointment', id=appointment.get_id())}}" method="POST">
                    <!-- Delete Button to Open the Modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{appointment.get_id()}}">Delete</button>

                    <!-- Modal -->
                    <div class="modal" id="myModal_{{appointment.get_id()}}">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Confirmation</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    Are you sure you want to delete appointment for {{appointment.get_name_ment()}} with {{appointment.get_doctor_ment()}}?
                                </div>

                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
