{% extends "admin_index.html" %}
{% block title %}View Accounts{% endblock %}

{% block content %}


          <br>
		  <br>          <br>
		  <br>          <br>

<div>
  {% if count == 0 %}
  <p>There are no accounts.</p>
  {% elif count == 1 %}
  <p>There is 1 account.</p>
  {% else %}
  <p>There are {{ count }} accounts.</p>
  {% endif %}
</div>
<div>
  <table class="table table-hover">
    <thead class="bg-dark text-white">
      <tr>

        <th>Customer ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>NRIC</th>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Age</th>
        <th>Pre-existing Medical<br> Conditions</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers_list %}
        <tr>

          <td>{{ customer.get_customer_id() }}</td>
          <td>{{ customer.get_name() }}</td>
          <td>{{ customer.get_gender() }}</td>
          <td>{{ customer.get_nric() }}</td>
          <td>{{ customer.get_email() }}</td>
          <td>{{ customer.get_password() }}</td>
          <td>{{ customer.get_address() }}</td>
          <td>{{ customer.get_age() }}</td>
          <td>{{ customer.get_condition() }}</td>
          <td><a href="/updateCustomer/{{customer.get_user_id()}}" class="btn btn-warning">Update</a></td>
          <td>
            <form action="{{url_for('delete_customer', id=customer.get_user_id())}}" method="POST">
<!--              <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{customer.get_name()}} ?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{customer.get_user_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{customer.get_user_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{customer.get_name()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}


