{% extends "admin_index.html" %}
{% block title %}Unattended Appointments{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; color:black;}
    a:active { text-decoration: none; }
    a {color:black;}

    h1 {text-align: center}

    p {text-align: center; font-size: 19px;}
    </style>
</head>

<div>
  <h1 class="display-4">All Unattended Appointments</h1>
  {% if count == 0 %}
  <p>There are no unattended appointments</p>
  {% elif count == 1 %}
  <p>There is 1 unattended appointment</p>
  {% else %}
  <p>There are {{ count }} unattended appointments</p>
  {% endif %}
</div>

{% if count != 0 %}
<div>
    <table class="table table-hover" style="border: solid black;">
        <thead class="bg-dark text-white">
        <tr style="text-align: center;">
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>NRIC</th>
            <th>Email</th>
            <th>Address</th>
            <th>Remarks</th>
            <th>Conditions</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for appointment in appointments_list %}
        <tr style="text-align: center;">
            <td>{{ appointment.get_id() }}</td>
            <td>{{ appointment.get_name_ment() }}</td>
            <td>{{ appointment.get_age_ment() }}</td>
            <td>{{ appointment.get_gender_ment() }}</td>
            <td>{{ appointment.get_nric_ment() }}</td>
            <td>{{ appointment.get_email_ment() }}</td>
            <td>{{ appointment.get_address_ment() }}</td>
            <td>{{ appointment.get_remarks_ment() }}</td>
            <td>{{ appointment.get_past_condition_ment() }}</td>
            <td>{{ appointment.get_doctor_ment() }}</td>
            <td>{{ appointment.get_date_ment() }}</td>
            <td>{{ appointment.get_time_ment() }}</td>

            <td>
                <form action="{{url_for('open_room_admin', id=appointment.get_id())}}" method="POST">
                    <input type="submit" value="Notify Patient" class="btn btn-primary">
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
