{% extends "user_index.html" %}
{% block title %}Update Appointment{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; color:black;}
    a:active { text-decoration: none; }
    a {color:black;}
    </style>
</head>

<br>
<br>
<br>
<br>
<br>
<div class="mentdiv bg-light">
  <h1 class="display-4">Update Appointment</h1>

  <form action="" method="POST">
    <div class="form-group">
      {{ render_field(form.name_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.age_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.gender_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.nric_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.email_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.address_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.remarks_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.past_condition_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.doctor_ment, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.date_ment, class="form-control datepicker") }}
    </div>
    <div class="form-group">
      {{ render_field(form.time_ment, class="form-control") }}
    </div>
    <button style="float:right;"  onclick="history.back()" class="btn btn-secondary">Go Back</button>
    <input type="submit" value="Update" class="btn btn-warning"/>
  </form>
</div>
{% endblock %}
