{% extends "anotherform.html" %}
{% block title %}Upload Files{% endblock %}
{% block content %}
          <br>
          <br>
          <br>
		  <br>
          <br>
    <h3 style="text-align:center;">Please only Upload in 'jpg', 'png', 'jpeg', 'gif', 'webp' File format.</h3>
    <meta charset="UTF-8">
    <title>Title</title>
<div class="cards7 bg-light">
    <form method='POST' enctype='multipart/form-data' style="text-align:center;">
        {{form.hidden_tag()}}
         {%if form.file.errors%}
                <div>
                    {{form.file(class='form-control | my-2 | border-danger')}}
                </div>
                {%for errors in form.file.errors%}
                    <span class='text-danger | float-end'>{{errors}}</span>
                {%endfor%}
                {%else%}
                <div>
                    {{form.file(class='form-control | my-2')}}
                </div>
            {%endif%}
        {{form.submitting()}}
    </form>
    <button onclick="history.back()" class="btn btn-secondary">Go Back</button>
    </div>
{% endblock %}
