{% extends "anotherform.html" %}
{% block title %}Upload Files{% endblock %}
{% block content %}
          <br>
          <br>
          <br>
		  <br>
          <br>
    <title>Upload Medication Image</title>
    <h1 style="text-align:center;">File Upload</h1>
<br>
    <h4 style="text-align:center;color:red;">Please only Upload in 'jpg', 'png', 'jpeg', 'gif', 'webp' File format.</h4>
    <meta charset="UTF-8">
<div style="text-align:center;">
<div class="cards7 bg-light" style="height:555px; width:60%;">
    <form method='POST' enctype='multipart/form-data' style="text-align:center;">
        {{form.hidden_tag()}}
         {%if form.file.errors%}
                <div>
                    {{form.file(class='form-control | my-2 | border-danger')}}
                </div>
                {%for errors in form.file.errors%}
                    <span class='text-danger | float-end'>{{errors}}</span>
                {%endfor%}
                {%else%}
                <div>
                    {{form.file(class='form-control | my-2')}}
                </div>
            {%endif%}
        {{form.submitting()}}
    </form>
                  <br>
          <br>
              <br>
          <br>
          <br>
		  <br>
          <br>
          <br>
          <br>
              <br>
          <br>
          <br>
		  <br>
          <br>
          <br>
          <br>

    <button onclick="history.back()" class="btn btn-secondary">Go Back</button>
    </div>
</div>
{% endblock %}
