{% extends "user_index.html" %}

{% block content %}
<link rel="stylesheet" href="static/css/home.css">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
      <style>
      a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none;
   color:black;}
  a:active { text-decoration: none; }
  a{color:black;
  padding-left:4px;}
</style>
  </head>


  <header>
<body>
      <div class="container">
        <div class="banner-text">
          <div class="text-area">
            <span>t</span>
            <span>e</span>
            <span>l</span>
            <span>e</span>
            <span>d</span>
            <span>o</span>
            <span>c</span>

          </div>

          <p>Talk to a medical specialist anytime, anywhere</p>
          <p class="banner-btn">
            <a href="findoutmore.html">Find out more</a>
            <a href="">Our services</a>
          </p>

        </div>
      </div>
    </header>


  </body>

{% endblock %}
